<div class="ts-title">
  <img class ="img-class" src="/ProgWeb/N3Web/src/assets/img/Angular.png">
  <h2>Versão Angular</h2>
</div>

<div class="container">
    <h1>Listagem de produtos</h1>
  <ul class="produto-list">
    <li *ngFor="let produto of produtos">
      <div id="produto-detalhes">
        <p *ngIf="produto">Código: {{ produto.codigoProduto }}, Descrição: {{ produto.descricao }}, Unidade de Medida: {{ produto.unidadeDeMedida }}, Vencimento: {{ produto.vencimento }}</p>
      </div>
  </ul>
</div>

<div class="container">
    <h1>Buscar Produto por Código</h1>
    <form (ngSubmit)="buscarProdutoPorCodigo()">
      <input type="text" [(ngModel)]="codigo" name="codigo" placeholder="Código do Produto">
      <button type="submit">Buscar</button>
    </form>
    <div id="produto-detalhes">
      <p *ngIf="produto">Código: {{ produto.codigoProduto }}, Descrição: {{ produto.descricao }}, Unidade de Medida: {{ produto.unidadeDeMedida }}, Vencimento: {{ produto.vencimento }}</p>
      <p *ngIf="produto === null">Produto não encontrado.</p>
    </div>
  </div>

  <div class="container">
    <h1>Cadastrar Produto</h1>
    <form (ngSubmit)="cadastrarProduto()">
      <div class="form-group">
        <label for="descricao">Descrição:</label>
        <input type="text" id="descricao" name="descricao" [(ngModel)]="descricao" required>
      </div>
      <div class="form-group">
        <label for="unidadeDeMedida">Unidade de Medida:</label>
        <input type="text" id="unidadeDeMedida" name="unidadeDeMedida" [(ngModel)]="unidadeDeMedida" required>
      </div>
      <div class="form-group">
        <label for="vencimento">Vencimento:</label>
        <input type="date" id="vencimento" name="vencimento" [(ngModel)]="vencimento" required>
      </div>
      <button type="submit">Cadastrar</button>
      <div class="mensagem-sucesso" *ngIf="mensagemSucesso">{{ mensagemSucesso }}</div>
    </form>
  </div>
  
  <div class="container">
    <h1>Atualizar Produto</h1>
    <form (ngSubmit)="atualizarProduto()">
      <div class="form-group">
        <label for="atualizarCodigo">Código do Produto a Atualizar:</label>
        <input type="text" id="atualizarCodigo" name="atualizarCodigo" [(ngModel)]="codigoAtualizar" required>
      </div>
      <div class="form-group">
        <label for="atualizarDescricao">Nova Descrição:</label>
        <input type="text" id="atualizarDescricao" name="atualizarDescricao" [(ngModel)]="descricaoAtualizar">
      </div>
      <div class="form-group">
        <label for="atualizarUnidadeDeMedida">Nova Unidade de Medida:</label>
        <input type="text" id="atualizarUnidadeDeMedida" name="atualizarUnidadeDeMedida" [(ngModel)]="unidadeDeMedidaAtualizar">
      </div>
      <div class="form-group">
        <label for="atualizarVencimento">Novo Vencimento:</label>
        <input type="date" id="atualizarVencimento" name="atualizarVencimento" [(ngModel)]="vencimentoAtualizar">
      </div>
      <button type="submit">Atualizar</button>
    </form>
  </div>


  <div class="container">
    <h1>Excluir Produto</h1>
    <form (ngSubmit)="excluirProduto()">
      <div class="form-group">
        <label for="excluirCodigo">Código do Produto a Excluir:</label>
        <input type="text" id="excluirCodigo" name="excluirCodigo" [(ngModel)]="codigoExcluir" required>
      </div>
      <button type="submit">Excluir</button>
    </form>
  </div>


  <div id="popup" class="popup">
    <p id="popup-message"></p>
</div>

<div id="popupErro" class="popupErro">
  <p id="popup-messageErro"></p>
</div>

