

<div class="container">
    <h1>Listagem de produtos</h1>
  <ul class="produto-list">
    <li class="product-item" *ngFor="let produto of produtos">
      <p>Código: {{ produto.codigoProduto }}</p>
      <p>Descrição: {{ produto.descricao }}</p>
      <p>Unidade de medida: {{ produto.unidadeDeMedida }}</p>
      <p>Vencimento: {{ produto.vencimento }}</p>
    </li>
  </ul>
</div>

<div class="container">
    <h2>Buscar Produto por Código</h2>
    <form (ngSubmit)="buscarProdutoPorCodigo()">
      <input type="text" [(ngModel)]="codigo" name="codigo" placeholder="Código do Produto">
      <button type="submit">Buscar</button>
    </form>
    <div id="produto-detalhes">
      <p *ngIf="produto">Código: {{ produto.codigoProduto }}, Descrição: {{ produto.descricao }}, Unidade de Medida: {{ produto.unidadeDeMedida }}, Vencimento: {{ produto.vencimento }}</p>
      <p *ngIf="produto === null">Produto não encontrado.</p>
    </div>
  </div>

  <div class="container">
    <h2>Cadastrar Produto</h2>
    <form (ngSubmit)="cadastrarProduto()">
      <div class="form-group">
        <label for="descricao">Descrição:</label>
        <input type="text" id="descricao" name="descricao" [(ngModel)]="descricao" required>
      </div>
      <div class="form-group">
        <label for="unidadeDeMedida">Unidade de Medida:</label>
        <input type="text" id="unidadeDeMedida" name="unidadeDeMedida" [(ngModel)]="unidadeDeMedida" required>
      </div>
      <div class="form-group">
        <label for="vencimento">Vencimento:</label>
        <input type="date" id="vencimento" name="vencimento" [(ngModel)]="vencimento" required>
      </div>
      <button type="submit">Cadastrar</button>
      <div class="mensagem-sucesso" *ngIf="mensagemSucesso">{{ mensagemSucesso }}</div>
    </form>
  </div>
  
  <div class="container">
    <h2>Atualizar Produto</h2>
    <form (ngSubmit)="atualizarProduto()">
      <div class="form-group">
        <label for="atualizarCodigo">Código do Produto a Atualizar:</label>
        <input type="text" id="atualizarCodigo" name="atualizarCodigo" [(ngModel)]="codigo" required>
      </div>
      <div class="form-group">
        <label for="atualizarDescricao">Nova Descrição:</label>
        <input type="text" id="atualizarDescricao" name="atualizarDescricao" [(ngModel)]="descricao">
      </div>
      <div class="form-group">
        <label for="atualizarUnidadeDeMedida">Nova Unidade de Medida:</label>
        <input type="text" id="atualizarUnidadeDeMedida" name="atualizarUnidadeDeMedida" [(ngModel)]="unidadeDeMedida">
      </div>
      <div class="form-group">
        <label for="atualizarVencimento">Novo Vencimento:</label>
        <input type="date" id="atualizarVencimento" name="atualizarVencimento" [(ngModel)]="vencimento">
      </div>
      <button type="submit">Atualizar</button>
    </form>
  </div>
















  <div id="popup" class="popup">
    <p id="popup-message"></p>
</div>

<div id="popupErro" class="popupErro">
  <p id="popup-messageErro"></p>
</div>

